@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Comic Neue', 'Comic Sans MS', 'Trebuchet MS', sans-serif;
    background-color: #0B1220;
    color: #E6F0FF;
}

.projectile {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    margin: 16px 0 0 0;
}


#click-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #E6F0FF;
    color: #0B1220;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 20px;
}
#click-counter {
    text-align: center;
    font-size: 24px;
}


